<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>CHIMEHACK-4</title>
	<link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/style.css">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

</head>
<body>
  <ul class="entries">
  {% for entry in entries %}
  	<form action 
    <li><h2>{{ entry.first_name }}</h2>{{ entry.last_name }}</li>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em></li>
  {% endfor %}
  </ul>
</body>
</html>