<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>SponsorBook</title>
	<link rel="stylesheet" href="../static/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/style.css">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

</head>
<body>

  <div class="page-wrapper container">
		<div class="landing">
	    <div class="row">
	      <div class="col-md-6">
	        <div class="row">
	          <nav class="col-md-12">
	            <h1>Sponsor A Child.</h1>
	            <img src="../static/images/facebook.png" class="fb-login" />
	          </nav>
	          <main class="col-md-12">
	            <h2>About</h2>
	            <p>Every child deserves a strong start – the best chance for a successful future. But too many children around the world aren’t getting the opportunity to reach their full potential. You can help change that. If you sponsor a child, then you’ll give them the gift of a brighter future. At the same time, you’ll be able to connect with them on a deeper level through innovative technology.</p>
	          </main>
	        </div>
	      </div>
	      <div class="col-md-6 image-block">
	        <img src="../static/images/home-image.png" />
	      </div>
	    </div>
	    <div class="row terrible">
	      <main class="col-md-12">
	        <a href="/stories" class="button">View Stories</a>
	        <a href="/stories" class="button">Learn More</a>
	      </main>
	    </div>
		</div>
		<div class="row">
			<footer class="col-md-12">
				<p>&copy; SponsorBook 2017</p>
			</footer>
		</div>
  </div>

  {% block body %}{% endblock %}

</body>
</html>
