<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>SponsorBook</title>
  <link rel="stylesheet" href="../static/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/style.css">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

</head>
<body>

  <div class="page-wrapper container login">
    <div class="row">
      <nav class="col-md-6">
        <h1>log in.</h1>
      </nav>
      <main class="col-md-6">
        login form
        <img src="../static/images/facebook.png" class="fb-login"/>
      </main>
    </div>
  </div>

  <div class="row">
    <footer class="col-md-12">
      <p>&copy; SponsorBook 2017</p>
    </footer>
  </div>




</body>
</html>
