<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CHIMEHACKS 4</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="../static/css/style.css" rel="stylesheet">

</head>

<body>

    <!-- Page Content -->
    <div class="page-wrapper container">

        <!-- Page Header -->
        <div class="row stories">
            <nav class="col-md-12">
              <p><a href="/">&lt; Home</a></p>
              <h1>Read My Story.</h1>
            </nav>
        </div>
        <!-- /.row -->

        {% block body %}
        <!-- Projects Row -->
        <div class="row stories-container">
            {% for entry in entries %}
            <div class="col-md-4 col-sm-6 portfolio-item">
                <img data-toggle="modal" data-target="#{{entry.id}}" class="img-responsive" src="{{ entry.picture }}" alt="" />
                <h3>{{ entry.name }}</h3>
                <p>{{ entry.bio }}</p>

                <div class="modal fade collapse" tabindex="-1" role="dialog" id="{{entry.id}}">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{entry.name}}</h4>
                      </div>
                      <div class="modal-body">
                        <p>{{entry.long_description}}</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default">Sponsor Me!</button>
                        <button type="button" class="msg btn btn-default">&nbsp;</button>
                      </div>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->

            </div>
            {% endfor %}
        </div>
        {% endblock %}

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>&copy; SponsorBook 2017</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>

</html>
